.legend(ng-controller='LegendCtrl', ng-model='frame.results.graph')
  .legend-row(ng-if='labels[""].count', ng-class="{contracted: labelsContracted}", dir='rtl')
    .row-toggle(overflow-with-toggle='', ng-click="labelsContracted = !labelsContracted")
      .fa(ng-class="labelsContracted ? 'fa-caret-left' : 'fa-caret-down'", class="overflow-indicator")
    ul.list-unstyled.list-labels
      li(ng-repeat='(label, node) in labels', ng-class="{active: currentItem == node}")
        .contents(ng-click="onItemClick(node, 'label')")
          .label.label-node.class-name(ng-style='{"background-color": node.style.props.color, "color": node.style.props["text-color-internal"]}') {{label || '*'}}
            span.count ({{node.count}})
        a(ng-if="label == 'دوره' && currentItemhref != null", ng-href="{{currentItemhref}}")
          .contents.glyphicon.glyphicon-paperclip(tooltip="دریافت پرونده دوره", tooltip-placement='bottom', tooltip-animation='false')
            | پرونده
        a(ng-if="label == 'کلاس'", ng-click="submitClass()")
          .contents.glyphicon.glyphicon-ok(tooltip="ثبتنام در کلاس", tooltip-placement='bottom', tooltip-animation='false')
            | ثبتنام
        a(ng-if="label == 'دوره' && currentCourseID != null", ng-click="submitCourse()")
          .contents.glyphicon.glyphicon-ok(tooltip="ثبت اعلام نیاز آموزشی", tooltip-placement="bottom", tooltip-animation='false')
            | ثبت 
  .legend-row(ng-if='types[""].count', ng-class="{contracted: typesContracted}", dir='rtl')
    .row-toggle(overflow-with-toggle='', ng-click="typesContracted = !typesContracted")
      .fa(ng-class="typesContracted ? 'fa-caret-left' : 'fa-caret-down'", class="overflow-indicator")
    ul.list-unstyled.list-relationships
      li(ng-repeat='(type, rel) in types', ng-class="{active: currentItem == node}")
        .contents(ng-click="onItemClick(rel, 'relationshipType')")
          .label.label-relationship.class-name(ng-style='{"background-color": rel.style.props.color, "color": rel.style.props["text-color-internal"]}') {{type || '*'}}
            span.count ({{rel.count}})
        a(ng-if="type == 'متقاضی' && currentApplicantID != null", ng-click="removeCourseApplicant()")
          .contents.glyphicon.glyphicon-remove(tooltip="لغو نیاز", tooltip-placement='bottom', tooltip-animation='false')
            | لغو
