div(ng-controller="AuthCtrl")
  .outer
    include partials/frame-common-actions
    .inner
      .view-result(ng-hide="password_change_required")
        article.help
          .container-fluid(dir='rtl')
            .section.row-fluid.summary(ng-show="!static_is_authenticated")
              .summary.col-sm-3
                h3 اتصال به بانک دوره ها 
                p.lead
                  | اتصال به بانک نیاز به احراز هویت دارد.
              .details.col-sm-9(ng-hide="static_is_authenticated")
                .form
                  .row
                    .col-sm-5
                      | نام کاربری
                      br
                      input.form-control(type='text', on-enter="focus", on-enter-target-id="connect_password", focus-on="1", ng-model="username", style="margin: 0")
                      br
                  .row
                    .col-sm-5
                      | کلمه عبور
                      br
                      input.form-control(id="connect_password", on-enter="click", on-enter-target-id="connect_button", type='password', ng-model="password", style="margin: 0")
                      br
                  .row.form-info
                    .col-sm-5
                      | پیش فرض کاربری/کلمه عبور: 
                      b neo4j 
                      /
                      b neo4j
                  .row
                    .col-sm-5
                      br
                      button.btn.btn-default(id="connect_button", ng-click="authenticate()", style="margin: 0") اتصال 
            .section.row-fluid.summary(ng-if="static_is_authenticated && !password_change_required && !static_user")
              .summary.col-sm-3
                h3 اتصال به بانک دوره ها
                p.lead
                  | اتصال برقرار شد.
              .details.col-sm-9
                p اتصال به بانک (بدون نیاز به احراز هویت).
            .section.row-fluid.summary(ng-show="static_is_authenticated && !password_change_required && static_user")
              .summary.col-sm-3
                h3 اتصال به بانک دوره ها 
                p.lead
                  | خوش آمدید.
              .details.col-sm-3
                h3 مشخصات پرسنلی  
              .details.col-sm-3
                h3 مشخصات فردی 
              .details.col-sm-3
                p
                ul.big.undecorated
                  li
                    span.center-tbl-left-col 
                      | نام کاربری: 
                    code
                      | {{static_user.username}}
                  li
                    span.center-tbl-left-col
                      | کد هویت کاربری: 
                    code
                      | {{static_user.authorization_token}}
      .view-result.fade(ng-show="password_change_required")
        include partials/frame-change-password
      .status-bar(ng-class='{error: error_text, loading: frame.isLoading}')
        .status(ng-show="error_text")
          .fa.fa-exclamation-triangle.icon-warning-sign
          {{error_text}}
