article.guide
  .container-fluid(dir='rtl')
    .row
      .col-sm-4
        a.thumbnail
          img.img-responsive(src='images/search_button.png',ng-click="editor.execScript(':play search', true)")
      .col-sm-4
        h3 شروع
        p.lead  درباره دوره های شرکت ره آوران...
        br
        ul.big.undecorated
          li
            a(play-topic='intro')  مقدمه
            |  - یک تور راهنما
          li
            a(play-topic='concepts')  ایده ها
            |  - بانک دوره ها
          li
            a(play-topic='cypher')  انتقاد 
            |  - ارتباط با مدیریت 
      .col-sm-4
        h3 راهنما 
        p.lead نحوه کار
        br
        ul.big.undecorated
          li
            a(play-topic='movie-graph')  تنظیمات گرافیک 
          li
            a(play-topic='movie-graph')  جستجو دوره
          li
            a(play-topic='network-graph')  جستجو مجموعه آموزشی
          li
            a(play-topic='product-graph')  جستجو کلاس

    .hero-unit
      p
        a(href="http://www.rahamooz.org") پایگاه ره آموز، مرکز ارائه آموزشهای غیر حضوری شرکت ره آوران 

    footer
      p وابسته به &copy;
        a.no-icon(href='http://www.rfpc.ir/') پایگاه شرکت ره آوران 
        | &nbsp;2013–
        span= new Date().getFullYear()
