#data-select-console
  %select
    %option(id="1") عنوان دوره
    %option(id="2") کد وزارت
    %option(id="3") کد پتروشیمی
    %option(id="4") محتوای دوره
    %option(id="5") اهداف دوره
    %option(id="6") جستجوی جامع
  حاوی عبارت:
#data-console
#data-execute-console.icon-button(title="جستجو")
  %span.icon