#data-select-console
  %select(id="query-type-select")
    %option(id="0") ---
    %option(id="1") عنوان دوره حاوی عبارت
    %option(id="2") کد وزارت برابر با
    %option(id="3") کد پتروشیمی برابر با
    %option(id="4") اهداف دوره حاوی عبارت
#data-console
#data-execute-console.icon-button(title="جستجو")
  %span.icon