%table.data-table(cellspacing="0")
  %tbody
    %tr
      %th 
        %h3 عنوان دوره
      :each key in ["شرايط شركت كنندگان","اهداف دوره","مقطع تحصيلي و رشته","کد وزارت","ساعت"]
        %th
          %h3= htmlEscape(key)
    :each node in nodeList.getNodes()
      %tr
        %td
          %a.micro-button(href="#/data/search/#{htmlEscape(node.getId())}/")= node.getPropertyByKey("عنوان_دوره").getTruncatedHtmlValue(50)
        :each key in ["شرايط_شركت_كنندگان","اهداف_دوره","مقطع_تحصيلي_و_رشته","کد_دوره","ساعت"]
          %td.small
            :if node.getPropertyByKey(key)
              = node.getPropertyByKey(key).getTruncatedHtmlValue(50)


.break
