%ul.metadata
  
  %li = "تعداد پاسخها <b>" + meta.getNumberOfRows() + (meta.getNumberOfRows() === 1 ? " مورد." : " مورد.") + "</b>"
  %li = "زمان جستجو <b> " + meta.getExecutionTime() + " میلی ثانیه</b>"
.break
