

#visualization  
  %ul.button-bar.item-controls
    %li
      #visualization-profiles-button.text-icon-button(title="تنظیمات نمایش")
        %span.icon
        مدل
    %li
      #visualization-reflow.text-icon-button(title="نمای گرافیکی مجددا ایجاد گردد") 
        %span.icon
        باز-چين
    %li
      #visualization-clear.text-icon-button(title="نمای گرافیکی پاک گردد") 
        %span.icon
        پاک
.break
